// initail conditions
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // text-align: justify;
}
body {
    overflow-x: hidden;
}


// top level navigation 
.navbar {
    position: sticky;
    top: 0px;
    z-index: 20;
    border: none;
    box-shadow: 0 1px 2px #e0e0e0;
}

.navi {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2, .sidenav, .title {
    display: inline-block;
}

.relief {
    margin-right: 0.7rem;
    color: blueviolet;
}

.ortho {
    color: grey;
}

.sidenav  {
    position: relative;
    display: inline;
    vertical-align: middle;
    right: 0;
}

.sidenav i {
    font-size: 2.1rem;
    color: rgb(0, 238, 255);
    display: inline;
    vertical-align: middle;
    cursor: pointer;
}

.sidebarnav {
    position: fixed;
    width: 70%;
    height: 100vh;
    background: white;
    z-index: 90;
    left: 40%;
    box-shadow: 0 0 3px rgb(190, 189, 189);
    left: 100%;
    transition: left .13s ease-out;

    .logo {
        max-width: 200px;
        margin: 0 auto;
        padding: 0 auto;
        text-align: center;
    }

    .close-nav {
        display: block;
        font-size: 2.2rem;
        color: blueviolet;
        float: right;
        right: 0;
        cursor: pointer;
    }
    .para {
        margin:0;
        
        a {
            text-decoration: none;
        }

        span {
            display: block;
            padding: 5px;
            color: grey;
        }

        .social-media {
            text-align: left;

            .material-icons{
                display: inline-block;
                font-size: 1.3rem;
                cursor: pointer;
            }
            .material-icons:hover {
                filter: invert(0.1);
                box-shadow: 0 0 1px rgb(201, 201, 201);
                transform: scale(1.2);
            }
        }

        hr {
            margin: 0;
        }

        h4 {
            font-size: 1.2rem;
            margin-top: 1.2rem;
            color: purple;
        }
    }
}

.sidebarnavactive {
    left: 30%;
}


// landing page 
.landing {
    height: 400px;
    background: #f2f2f2;
}


// maps page 
.maps {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .para {
        width: 50%;
        padding: 30px;

        .links {
            padding: 50px;
            display: flex;
            justify-content: space-around;
            @media (max-width: 800px) {
                padding: 0;
            }

            .blue-btn {
                // box-shadow: 0 0 3px 6px rgba(106, 53, 230, 0.3);
                color: blueviolet;

                .material-icons {
                    vertical-align: middle;
                }
            }
            .pink-btn {
                // box-shadow: 0 0 3px 6px rgba(86, 21, 192, 0.3);
                color: blueviolet;
                .material-icons {
                    vertical-align: middle;
                }
            }
        }

        .links button {
            border: 2px solid blueviolet;
            padding: 10px;
            text-transform: uppercase;
            border-radius: 50px;
            background: white;
            font-weight: 600;
            transition: all .3s linear;
            @media (max-width: 800px) {
                font-size: 0.5rem;
            }
        }
        .links button:hover {
            z-index: 20;
            background: blueviolet;
            color: white;
        }

        @media (max-width: 800px) {
            width: 100%;
        }

    }
    
    .map {
        width: 50%;

        iframe {
            width: 100%;
            height: 600px;
        }
        @media (max-width: 800px) {
            width: 100%;
            height: 400px;
        }
    }

}

// specialist
.expectice {
    .flex-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        text-align: left;

        .items {
            padding: 20px;
            margin: 10px;
            width: 205px;
            height: 155px;
            background: white;
            box-shadow: 3px 6px 24px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            transition: all 3 ease-out;

            span {
                text-align: left !important;
            }
            
            &:hover{
                box-shadow: 3px 6px 24px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

// doctors list
.doctors {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: #e9e0e8;

    .para {
        width: 50%;
        padding: 30px;

        @media (max-width: 800px) {
            width: 100%;
        }
    }
    
    .cara {
        width: 50%;
        padding: 50px 30px;
        text-align: center;

        @media (max-width: 800px) {
            width: 100%;
        }
    }
}


// footer
.footer {
    width: 100%;
    background: #1e2232;
    color: white;
    padding: 40px 20px 0px 20px;
    
    .lists {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;

        h6 {
            margin: 20px 0 10px 0;
        }
    }

    .item {
        width: 40%;

        .material-icons{
            margin-right: 1rem;
            cursor: pointer;
        }
    }

    .links {
        width: 25%;

        a{
            text-decoration: none;
            color: white;
            display: block;
            padding: 0.2rem;
        }
    }

    .copyrights {
        text-align: center;
        p{
            margin: 0;
            padding: 5px;
        }
    }

    @media (max-width: 800px ) {
        .item {
            width: 100%;
        }
    
        .links {
            width: 50%;
            padding: 10px;
        }

        h4 {
            margin-top: 30px;
        }
    }
    @media (max-width: 600px ) {
        .item {
            width: 100%;
        }
    
        .links {
            width: 100%;
            padding: 10px;
        }

        h4 {
            margin-top: 30px;
        }
    }
}